.container {
  padding: 0 5px 40px;
  .tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .van-icon {
    vertical-align: text-top;
    margin-left: 5px;
  }
  .grey {
    color: #9c9898;
  }
  .right {
    text-align: right;
  }
  .font12 {
    font-size: 12px;
  }
  .font16{
    font-size: 16px;
  }
  .bold{
      font-weight: bold;
  }
  .red{
      color: #f00;
  }
  .green{
      color: #9af115;
  }
  .flex{
      display: flex;
  }
  .wrap{
    word-wrap: break-word;
  }
  .van-overlay{
    z-index: 3;
  }
  .no-data {
    padding: 10px;
    text-align: center;
    color: #9c9898;
  }
}
